<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Olá {{nomeusuario}}, nós recebemos a sua solicitação de pedido!</h1>
  <h2>estamos preparando seu pedido para entrega! muito em breve seu pedido estará em sua casa.</h2>
  <p>obrigado por fazer parte da nossa família.</p>
  <p>para mais informações acesse nosso site:</p>
  <a href="https://rose-glorious-bear.cyclic.app/">piratasdocommit.com</a>
  <p>ps: Piratas do Commit <3</p>
</body>
</html>
